#!/bin/bash
#
# ~/.aliases
# Purpose: speed comand-line working by aliases

### ALIAS DECLARATION


## frequent operations

alias ll="ls -l"
alias lo="ls -o"
alias lh="ls -lh"
alias la="ls -la"


## sys admin aliases

alias srn="sudo reboot now"
alias ssn="sudo shutdown now"
alias syu="sudo pacman -Syu"


# Local Variables:
# sh-basic-offset: 2
# End:
