#!/bin/bash
#
# ~/.aliases
# Purpose: facilitate shell command-line typing by using aliases

### ALIAS DECLARATION


## frequent operations

alias ll="ls -l"
alias lo="ls -o"
alias lh="ls -lh"
alias la="ls -la"


## sys admin aliases

alias srn="sudo reboot now"
alias ssn="sudo shutdown now"
alias spS="sudo pacman -Syu"
alias mygit="git clone https://github.com/raom2004"

# Local Variables:
# sh-basic-offset: 2
# End:
